body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo centralizada */
.logo {
    max-width:200px;
    height: auto;
    display: block;
    margin-right: 80%;
    z-index: 1;
    text-align: center;
} 


/* Imagem centralizada */
.img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Header sem margens */
header {
    background-color: rgba(0, 0, 0, 0.932);
    width: 100%;
}

/* Div do Header centralizada */
.divHeader {
    width: 100%;
    text-align: center;
}

/* Menu*/
/* Container flexível para header */
.header-container {
    display: flex;
    justify-content: center; /* Centraliza a logo */
    align-items: center;
    position: relative;
    padding: 10px 0;
}

.menu-principal {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-principal li {
    display: inline-block;
    margin-left: 20px;
}

.menu-principal a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.3s;
}

.menu-principal a:hover {
    color: rgb(98, 96, 243);
}


/* Sobre nós */
.sobre_nos {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-family: "Rubik", serif;
    color: white;
}

.sobre-nos-card {
    display: flex;
    /* importante para alinhar imagem e texto lado a lado */
    max-width: 1200px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    /* opcional: alinha verticalmente */
    gap: 40px;
    /* espaço entre texto e imagem */
}

.texto-sobre-nos {
    flex: 1;
    color: rgba(255, 255, 255, 0.932);
    border: 4px solid rgba(255, 255, 255, 0.932);
    /* cor e espessura do contorno */
    padding: 20px;
    /* espaço interno para o texto não encostar nas bordas */
    border-radius: 8px;
    /* cantos levemente arredondados (opcional) */
    background-color: rgba(0, 0, 0, 0.932);
    /* cor de fundo (opcional para destaque) */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    /* sombra leve para profundidade */
    margin-top: 40px;
    margin-bottom: 40px;
}

.boasVindas {
    text-align: center;
}

.img-sobre-nos {
    max-width: 500px;
    width: 100%;
    height: auto;
}

/* Títulos */
h2 {
    text-align: center;
    color:  rgba(255, 255, 255, 0.932);
    font-size: 35px;
    margin: 0px 0 20px;
}

/* Imagem da seção sobre nós */
.img_sobrenos {
    width: 15%;
    float: none;
    display: block;
    margin: 0 auto 20px;
}

/*Promoções*/
.promocoes {
    flex: 1;
    color: rgba(243, 168, 7, 0.932);
    border: 4px solid rgba(243, 168, 7, 0.932);
    /* cor e espessura do contorno */
    padding: 20px;
    /* espaço interno para o texto não encostar nas bordas */
    border-radius: 8px;
    /* cantos levemente arredondados (opcional) */
    background-color: rgba(0, 0, 0, 0.932);
    /* cor de fundo (opcional para destaque) */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    /* sombra leve para profundidade */
    margin-top: 40px;
    margin-bottom: 40px;
}

.promocoes p{
    text-align: center;
}

/* Mapa */
.mapaGeral {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mapaGeral iframe {
    width: 80%;
    height: 300px;
    border: none;
    margin: 0 auto;
    display: block;
}

.mapaGeral p {
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.mapaGeral h2 {
    color: rgba(255, 255, 255, 0.932);
}

/* Produtos */
.nossosProdutos h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.932);
}

.produtos {
    font-size: 14px;;
}

.produtos li {
    color: white;
    list-style: circle;
    line-height: 2;
    text-align: center;
}

/* Imagem dos produtos */
.img_produtos {
    width: 15%;
    margin: 0px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgb(182, 173, 173);
    left: 80px;
    position: relative;
    top: -150px;  
    left: 800px;  
}

/* Rodapé */
footer {
    background: rgba(255, 255, 255, 0.932);
    background-blend-mode: darken;
    padding: 30px 0 10px;
    width: 100%;
    text-align: center;
}

footer p {
    color: rgba(0, 0, 0, 0.932);
    ;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.logo_rodape {
    width: 20%;
    margin-top: 60px;
}

.fa {
    color: rgb(98, 96, 243);
}

/* Container dos cards */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

/* Card de produto */
.card {
    background-color: rgba(0, 0, 0, 0.932);
    border: 4px solid rgb(98, 96, 243);
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.932);
    background-color: rgba(0, 0, 0, 0.932);
    font-size: 30px;
}

.card p {
    color: rgba(255, 255, 255, 0.932);
    background-color: rgba(0, 0, 0, 0.932);
    font-size: 14px;
}

.preco {
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.932);
    margin: 10px 0;
}

/*link serviços*/
.linkservicos {
    color: rgba(243, 168, 7, 0.932);
}


.body_servicos{
    background-color:rgba(255, 255, 255, 0.932);
}

.header_servicos{
    width: 100%;
    background-color: rgba(243, 168, 7, 0.932);
}

.logo_servicos{
    width: 100%;
    max-width: 200px;
    display: block; /* necessário para usar margin auto */
    margin: 0 auto;   
}


/*link agendamento*/
.linkagendamento {
    color: rgba(243, 168, 7, 0.932);
}


.body_agendamento{
    background-color: rgba(243, 168, 7, 0.932);
}

.header_agendamento{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.932);
}

.logo_agendamento{
    width: 100%;
    max-width: 200px;
    display: block; /* necessário para usar margin auto */
    margin: 0 auto;   
}

.body_agendamento h2 {
     flex: 1;
    color: rgba(0, 0, 0, 0.932);
    border: 4px solid rgba(0, 0, 0, 0.932);
    /* cor e espessura do contorno */
    padding: 20px;
    /* espaço interno para o texto não encostar nas bordas */
    border-radius: 8px;
    /* cantos levemente arredondados (opcional) */
    background-color: rgba(243, 168, 7, 0.932);
    /* cor de fundo (opcional para destaque) */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    /* sombra leve para profundidade */
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-link-amarelo {
    color: rgba(243, 168, 7, 0.932) !important; /*!important é uma prioridade máxima*/
}

.home-link-amarelo:hover {
    color: white !important;
}

.p-agendamento{
    font-size: 25px;
}


/*Containers Compre*/

.contatos_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.contato_card {
    background-color: #000000;
    /* mesma cor escura usada no produto */
    color: white;
    border: 4px solid rgb(98, 96, 243);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contato_card:hover {
    transform: scale(1.05);
    background-color: #333333;
    /* leve mudança na cor no hover */
}

.contato_card h3 {
    margin-top: 0;
    color: rgb(98, 96, 243);
    /* destaque amarelo parecido */
}

.contato_card p {
    margin: 5px 0;
    font-size: 16px;
}
.fa-whatsapp:before {
    content: "\f232";
    color: black;
}

.fa-instagram:before {
    content: "\f232";
    color: black;
}
.fa-map-marker:before{
    content: "\f232";
    color: rgb(98, 96, 243);
}
.fa-envelope:before{
    content: "\f232";
    color: rgb(98, 96, 243);
}
.fa-whatsapp-contato:before {
    content: "\f232";
    color: rgb(98, 96, 243);
}
